<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
    <script defer src="js/banner.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.116.1/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.122.0/examples/js/loaders/GLTFLoader.js"> </script>
    <script defer src="js/threeModel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    <link rel="stylesheet" href="css/slider.css">
    <title>Vibing Ascii</title>
</head>
<body>
    <div id="banner">
      <h1 id="p5title" style="left: 52%;"> Vibing Ascii </h1>
      <div id="lineCanvas"> </div>
    </div>

    <div class="nav-icon" id="go" onclick="window.location.href = '/holders' "> 
      <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: 17px;" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg>
    </div>

    <section>
        <div class="col-left">
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
        </div>
        <div class="col-right">
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
            <p>XXXXXXXXXXXXXXXXXXXXX</p>
        </div>

        <div id="sec-1-1">
            <div id="sec-1-1-1">

            </div>
            <div id="sec-1-1-2">
    
            </div>
        </div>
      </section>

      <section>
        <div class="grid-container">
            <div class="model">
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div>
            
            <div class="model" id="3dalpha">
                <!-- This work is based on "Voxel Alphabet" (https://sketchfab.com/3d-models/voxel-alphabet-4f9f377bff724326a9a71b03acdd02b2) by rodrivgm (https://sketchfab.com/rodrivgm) licensed under CC-BY-4.0 (http://creativecommons.org/licenses/by/4.0/) -->
            </div>

            <div class="model" id="3dalpha2">

            </div>

            <div class="model" id="">
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div>

            <div class="model">
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
                <p>XXXXXXXXXXXXXXXXXXXXX</p>
            </div>
            
            <div class="model" id="3dalpha3">

            </div>
        </div>
      </section>

    <section class="gallery">
      <div> 
        <h2 class="gall-title"> Gallery </h2>
      </div>
        <div class="slider-container">
          <div class="slider">
            <input type="radio" name="testimonial" id="t-1" />
            <input type="radio" name="testimonial" id="t-2" />
            <input type="radio" name="testimonial" id="t-3" checked />
            <input type="radio" name="testimonial" id="t-4" />
            <input type="radio" name="testimonial" id="t-5" />
            <div class="testimonials mb-8">
              <label class="item" for="t-1">
                <div class="mycard">
                  <div>
                    <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                  </div>
                  <div>
                    <p class="cardtitle">Name</p>
                    <p class="carddescription">Description</p>
                    <div class="pricing">
                      <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                      <p class="cardprice"> price </p>
                    </div>
                  </div>
                </div>
              </label>
              <label class="item" for="t-2">
                <div class="mycard">
                  <div>
                    <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                  </div>
                  <div>
                    <p class="cardtitle">Name</p>
                    <p class="carddescription">Description</p>
                    <div class="pricing">
                      <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                      <p class="cardprice"> price </p>
                    </div>
                  </div>
                </div>
              </label>
              <label class="item" for="t-3">
                <div class="mycard">
                  <div>
                    <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                  </div>
                  <div>
                    <p class="cardtitle">Name</p>
                    <p class="carddescription">Description</p>
                    <div class="pricing">
                      <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                      <p class="cardprice"> price </p>
                    </div>
                  </div>
                </div>
              </label>
              <label class="item" for="t-4">
                <div class="mycard">
                  <div>
                    <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                  </div>
                  <div>
                    <p class="cardtitle">Name</p>
                    <p class="carddescription">Description</p>
                    <div class="pricing">
                      <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                      <p class="cardprice"> price </p>
                    </div>
                  </div>
                </div>
              </label>
              <label class="item" for="t-5">
                <div class="mycard">
                  <div>
                    <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                  </div>
                  <div>
                    <p class="cardtitle">Name</p>
                    <p class="carddescription">Description</p>
                    <div class="pricing">
                      <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                      <p class="cardprice"> price </p>
                    </div>
                  </div>
                </div>
              </label>
            </div>
              
            <div class="dots">
              <label for="t-1"></label>
              <label for="t-2"></label>
              <label for="t-3"></label>
              <label for="t-4"></label>
              <label for="t-5"></label>
            </div>
          </div>
        </div>

        <div> 
          <h4> <a href="/gallery">view all</a> </h4>
        </div>
    </section>

    <div style="padding: 50px 0;"></div>

    <section>
      <h2>Founder</h2>
      <div class="center-flip-card">

        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
                <h1>Anas Elsebay</h1>
                <p> Web Developer </p>
              </div>
              <div class="flip-card-back">
                <h1>Back</h1> 
              </div>
          </div>
        </div>

      </div>
    </section>

    <div style="padding: 50px 0;"></div>
  
    <div class="footer">
      <img src="media/hand.jpg" alt="" srcset="">
      <p>2022 &#169; Anmo Developement</p>
    </div>
</body>
</html>



