<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="media/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/gallery.css">
    <script defer src="js/banner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    <title>Gallery</title>
</head>
<body>

    <div class="nav-icon" id="back" onclick="window.location.href = '/';"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16" style="margin-top: 17px; ">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg> 
    </div>

    <div id="banner">
        <h1 id="p5title"> Vibing Ascii <br> Collection </h1>
        <div id="lineCanvas"> </div>
    </div>
      
    <section class="gallery grid-container" >
        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>

        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>

        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>

        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>

        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>


        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>


        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>


        <div class="item">
            <div class="mycard">
              <div>
                <img src="https://i.pravatar.cc/200" alt="nivel5" class="cardimg" />
              </div>
              <div>
                <p class="cardtitle">Name</p>
                <p class="carddescription">Description</p>
                <div class="pricing">
                  <img src="media/ethereum-eth-logo.png" class="ethlogo" alt="" srcset="">
                  <p class="cardprice"> price </p>
                </div>
              </div>
            </div>
        </div>

    </section>

    <div class="footer">
        <img src="media/hand.jpg" alt="" srcset="">
        <p>2022 &#169; Anmo Developement</p>
    </div>
    
</body>
</html>