<%- include('components/header'); %>

    <title>VA Club</title>
</head>
<body>

    <div class="nav-icon flex justify-center items-center" style="left: 1%;"> 
        <a href="./"><i class="bi bi-arrow-return-left"></i></a>
    </div>

    <div class="flex h-screen justify-center items-center">
        <div class="w-auto">
            <h1 class="my-5 text-2xl font-semibold">Vibing Acsii Club</h1>
            <p> Only Vibing Acsii owners are granted access </p>
            <h5 id="flag-status" style="color: red;"> <%= locals.flag ? flag : '' %> </h5>
            <div id="holderin" class="my-5 text-white text-center rounded-lg border-2 border-white py-2.5 px-6 duration-300 cursor-pointer hover:bg-white hover:text-black">
               Connect Metamask Wallet 
            </div>
        </div>
    </div>
      

</body>
    <script>
        document.getElementById('holderin').addEventListener('click', () => {
            if (typeof window.ethereum !== 'undefined') {
                auth();
            }else{
                document.getElementById('flag-status').innerHTML = 'Metamask Not Available';
            }
        })
        async function auth() {
            const accounts = await ethereum.request({ method: 'eth_requestAccounts' })
            .catch((e) => {
                console.error(e);
                return;
            })
            fetch('http://localhost:3000/auth-wallet', {method: 'POST', headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ wid: accounts[0] }),})
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.pathname = data.url;
                } else {
                    document.getElementById('flag-status').textContent = data.message
                }
            })
            .catch((error) => console.log('Error:', error));
        }
    </script>
</html>
