<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="/public/media/favicon.png" type="image/x-icon">
    <title>VA Club</title>
</head>
<body>
    <div class="nav-icon" style="left:1%;" onclick="window.location.href = '/';"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16" style="margin-top: 17px; ">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
        </svg> 
    </div>

    <div class="adminin">
        <h1>Vibing Acsii Club</h1>
        <p> Only the Vibing Acsii owners are granted access </p>
        <h5 id="flag-status" style="color: red;"> <%= locals.flag ? flag : '' %> </h5>
        <div id="holderin">
           Connect Metamask Wallet 
        </div>
    </div>
</body>
    <script>
        document.getElementById('holderin').addEventListener('click', () => {
            if (typeof window.ethereum !== 'undefined') {
                auth();
            }else{
                document.getElementById('flag-status').innerHTML = 'Metamask Not Available';
            }
        })
        async function auth() {
            const accounts = await ethereum.request({ method: 'eth_requestAccounts' })
            .catch((e) => {
                console.error(e);
                return;
            })
            fetch('http://localhost:3000/auth-wallet', {method: 'POST', headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ wid: accounts[0] }),})
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.pathname = data.url;
                } else {
                    document.getElementById('flag-status').textContent = data.message
                }
            })
            .catch((error) => console.log('Error:', error));
        }
    </script>
</html>
