<%- include('components/header'); %>

    <title>Login</title>
</head>
<body>

    <div class="nav-icon flex justify-center items-center" style="left: 1%;"> 
        <a href="./"><i class="bi bi-arrow-return-left"></i></a>
    </div>

    <div class="flex h-screen justify-center items-center">
        <form class="w-auto " action="/admin-login-creds" method="POST">
            <h1 class="my-5 text-2xl font-semibold">Admin</h1>
            <h5 class="my-2" style="color: red;"> <%= locals.flag ? flag : '' %> </h5>
            <input class="my-2 text-black text-center rounded-xl border-2 border-white py-2.5 px-6 duration-300 cursor-pointer" type="email" name="email" placeholder="email"  required> <br>
            <input class="my-2 text-black text-center rounded-xl border-2 border-white py-2.5 px-6 duration-300 cursor-pointer" type="password" name="pass" placeholder="password" required> <br>
            <input class="my-2 text-white text-center rounded-xl border-2 border-white py-2.5 px-6 duration-300 cursor-pointer hover:bg-white hover:text-black" type="submit" name="" value="login">
        </form>
    </div>

    
</body>
</html>

 