<%- include('components/header'); %>
    <script defer src="/public/js/banner.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
    <title>Maintainance</title>
</head>
<body>
    
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="absolute">
            <h1 class="text-5xl"> Vibing Ascii </h1> 
            <h2 class="my-5">Our apologies, The website is currently under maintainance </h2>
        </div>
        <div id="lineCanvas"> </div>
    </div>

</body>
</html>