
.flip-card {
    background-color: transparent;
    /* height: 200px; */
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card-inner {
    /* position: relative; */
    width: 250px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
    background-color: white;
    color: black;
}

.flip-card-back {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

.grid-container, .center-flip-card{
    display: grid;   
    justify-content: center;
    height: 100%;
}
.center-flip-card{
    grid-template-columns: 550px;
} 

section h2{
    text-align: center;
    font-size: 30px;
} 