
#sec-1-1{
    display: flex;
}

#p5title{
    font-size: 50px;
    position: absolute;
    margin: 0 -50px;
}

#sec-1-1-1{
    background-color: black;
    height: 620px;
    width: 50%;
    transition: 1s;
}

#sec-1-1-2{
    background-color: white;
    height: 620px;
    width: 50%;
    transition: 1s;
}

#sec-1-1-1:hover{
    width: 70%;
    transition: 1s;
}

#sec-1-1-2:hover{
    width: 70%;
    transition: 1s;
}

.flip-card {
    background-color: transparent;
    /* height: 200px; */
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card-inner {
    /* position: relative; */
    width: 250px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
    background-color: white;
    color: black;
}

.flip-card-back {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

.col-left{
    position: absolute;
    top: 600px;
    left: 5%;
    transform: translate(-5%, -5%);
}

.col-right{
    color: black;
    position: absolute;
    top: 1000px;
    left: 95%;
    transform: translate(-95%, -95%);
}

#go{
    left: 95%;
}

#canvas{
    cursor: none;
    display: block;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}



.grid-container{
    display: grid;   
    grid-template-columns: 550px 550px;
    justify-content: center;
    height: 100%;
    /* margin: 20px auto; */
}

.model{
    
    /* margin-top: 75px; */
}

.model{
    margin: 75px auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

section h2{
    text-align: center;
    font-size: 30px;
}