:root{

}

html, body{
    background-color: black;
    font-family: Courier, 'Courier New', monospace;
    color: white;  
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #303030; 
}