<div class="grid-container-2-2">
    <div class="statistics">
        <div class="stat-name">
            <h2> Frontpage Visits </h2>
        </div>
        <div class="stat-num">
            <div class="stat" id="FPV"> <%- fpv %> </div>
        </div>
    </div>
    <div class="statistics">
        <div class="stat-name">
            <h2> Gallery Visits </h2>
        </div>
        <div class="stat-num">
            <div class="stat" id="GPV"> <%- gpv %> </div>
        </div>
    </div>
    <div class="statistics">
        <div class="stat-name">
            <h2> Holders Page Visits </h2>
        </div>
        <div class="stat-num">
            <div class="stat" id="HPV"> <%- hpv %> </div>
        </div>
    </div>
    <div class="statistics">
        <div class="stat-name">
            <h2> Openseas Directs </h2>
        </div>
        <div class="stat-num">
            <div class="stat" id="OSD"> <%- osd %> </div>
        </div>
    </div>
    <div class="statistics">
        <div class="stat-name">
            <h2> Owners Visits </h2>
        </div>
        <div class="stat-num">
            <div class="stat" id="OSD"> 0 </div>
        </div>
    </div>
    <div class="statistics">
        <div class="stat-name">
            <h2> Founder Redirect </h2>
        </div>
        <div class="stat-num">
            <div class="stat" id="OSD"> 0 </div>
        </div>
    </div>
    </div>
</div>
